<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body{
            background-color: #3e3e3e;
            color:white;
        }
    </style>
</head>

<body>
<h1>It is the Courses Page</h1>
<h2>You came here by "redirect "</h2>
<p>.defaultSuccessUrl("/courses",true);
    // here we set default URL address after a successful entry through the login page
    // true forces 'redirect' to courses page</p>


<h1> It is additionally the logout page if you wish to leave that page click on the button below</h1>
<div>
    <form class="form-signin" method="get" action="/logout"> <!-- get because // csrf().disable() -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
    </form>
</div>
</body>
</html>